- content_for :title do
  | Log in


h1 Log in

.row
  .col-md-6.offset-md-3
    = form_with(url: login_path, scope: :session, local: true) do |f|
      
      = f.label :email
      = f.text_field :email, class: "form-control"

      = f.submit "Log in", class: "btn btn-primary"
