- content_for :title do
  = @user.name

.container
  .row
    aside.col-md-4
      section.user-info
        h2
          'user profile of
        h1 
          =< @user.name

  .row
    .col-mr-4
      - if @user==current_user
        = link_to "Offer a ride", new_user_ride_path(@user.id, @ride), class: "btn btn-primary btn-lg"
      br
    .col
      = link_to "View all rides", rides_path, class: "btn btn-primary btn-lg"
      br
  .row.mt-4
    .col-md-6
      h2 Offered Rides
      br
      = render @user.rides
    .col-md-6
      h2 Joined Rides
      br
      - @rides.each do |ride|
        - if ride.passengers&.include? @user.id
          = render ride
