= form_with(model: [@user, @ride], local: true) do |form|
  - if @ride&.errors&.any?
    #error_explanation
      h3
        => pluralize(@ride.errors.count, "error")
        | prohibited this ride from being saved:
        ul
          - @ride.errors.full_messages.each do |msg|
            li= msg
  p
    = form.label :city_from, "From"
    br
    = form.text_field :city_from
  p
    = form.label :city_to, "To"
    br
    = form.text_field :city_to
  p
    = form.label :date, "Date"
    br
    = form.date_field :date
  p
    = form.label :Time, "Time"
    br
    = form.time_field :time
  p
    = form.label :max_passengers, "Maximal number of passengers"
    br
    = form.text_field :max_passengers
  p
    = form.submit
