.container
  .d-flex.flex-row
    p
      'From
      strong => @ride.city_from 
      'to
      strong => @ride.city_to 
      'at
      strong => @ride.date.strftime("%d.%m.%Y")
  .d-flex.flex-row
    .p-2
      = form_with(model: [@user, @ride], local: true) do |form|
        = form.hidden_field :city_from
        = form.hidden_field :city_to
        = form.hidden_field :date
        = form.hidden_field :time
        = form.hidden_field :max_passengers
        = form.submit "Yes", class: "btn btn-success btn-lg"
    .p-2
      = link_to "No",  current_user, \
        class: "btn btn-danger btn-lg"
