- if ride.valid?
  .card style="width: 32rem"
    .card-header
      .d-flex.bd-highlight
        .p-2.flex-grow-1.bd-highlight
          'From
          strong => ride.city_from 
          'to
          strong => ride.city_to 
        - if current_user==ride.user
          .p-2.bd-highlight
            = link_to "Edit", edit_user_ride_path(ride.user, ride), \
              class: "btn btn-warning btn-sm"
          .p-2.bd-highlight
            = link_to "Delete", user_ride_path(ride.user, ride), \
              class: "btn btn-danger btn-sm", \
              method: :delete, \
              data: { confirm: "Are you sure?" }
    .card-body
      .container
        .row
          .col
            p 
              'Driver: 
              => ride.user.name   
        .row
          .col
            p 
              'Date: 
              => ride.date.strftime("%d.%m.%Y")
          .col
            p
              'Maximal passengers:
              => ride.max_passengers
        .row
          .col
            p 
              'Time:
              - if ride.time.nil?
                'not available
              - else
                => ride.time.strftime("%H:%M")
          .col
            p 
              'Current passengers:
              - if ride.passengers.nil?
                '0
              - else
                => ride.passengers.size
        .row
          - if current_user!=ride.user
            - if ride[:passengers]&.include? current_user.id
                .d-flex.flex-row
                  .p-2
                    h4 You are registered.
                  .p-2
                    = link_to "Cancel ride?",  edit_user_ride_path(ride.user, ride), \
                      class: "btn btn-outline-danger btn-sm"
            - else
              .row
                .col
                  = link_to "Join",  edit_user_ride_path(ride.user, ride), \
                    class: "btn btn-outline-success btn-lg"
  br
