- if current_user==@ride.user
  h1 Edit a ride
  = render "form" 
- else
  - if @ride.passengers&.include? current_user.id
    h1 Cancel ride?
    = render "form_passenger"
  - else
    -if !@ride.passengers.nil? && @ride.passengers.size == @ride.max_passengers
      h1 Sorry, ride is already complete.
      = link_to "Back",  current_user, \
        class: "btn btn-danger btn-lg"
    -else
      h1 Join ride?
      = render "form_passenger"